# Angular cache and build artifacts
.angular/
dist/
out-tsc/

# Node dependencies
node_modules/

# Firebase hosting/cache files (optional if using CLI deploy)
.firebase/
.firebaserc

# Environment files
.env
.env.* 
src/environments/*.ts

# Editor folders
.vscode/
.idea/

# Logs and system files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db

# Tailwind / PostCSS
postcss.config.js
tailwind.config.js

# Optional: Mac/Linux system files
*.swp
*.swo
src/output.css
